<div class="container">
    <div class="header">
        <div class="leading">DarCom</div>
        <div class="content">
            <a class="nav" >Home</a>
            <a class="nav" [routerLinkActive]="['active']" [routerLink]="['/shop']" [queryParams]="{page : 1}" >Shop</a>
            <a class="nav" >Discounts</a>
            <a class="nav" >Contact Us</a>
        </div>
        <div class="actions">
            <div class="svg"><img src="assets/profile.svg" alt="profile"></div>
            <div class="svg" (click)="onClick()" *ngIf="isAuthenticated | async"><img src="assets/logout.svg" alt="logout" ></div>
            <div class="svg cart">
                cart
            </div>
        </div>
    </div>

</div>
