<div class="container">
    <div class="hero-title">
      <div class="slogan">
        <p>DarCom /</p>
      </div>
      <div class="description">
        Home Decor store based in CUN,<br> Tunisia. Est since 2019.
      </div>
    </div>
    <div class="banner-grid">
      <div class="small-cards cont">
      <div class="elements-card" (click)="navigate('Living Room')" style="cursor: pointer">
        <div class="image-placeholder">
          <img class="paste-image" src="assets/livingroom.webp" />
        </div>
        <div class="content">
          <div class="title">
              <div class="product-name">Living Room</div>
          </div>
          <div class="button">
              <div class="content2">
                  <div class="get-started">Shop Now</div>
              </div>
              <img src="/assets/arrow-right.svg" alt="Arrow Right" stroke="white"/>
          </div>
      </div>
    </div>
    <div class="elements-card" (click)="navigate('Bedroom')" style="cursor: pointer">
      <div class="image-placeholder">
        <img class="paste-image" src="assets/bedroom.webp" />
      </div>
      <div class="content">
        <div class="title">
            <div class="product-name">Bedroom</div>
        </div>
        <div class="button">
            <div class="content2">
                <div class="get-started">Shop Now</div>
            </div>
            <img src="/assets/arrow-right.svg" alt="Arrow Right" stroke="white"/>
        </div>
    </div>
  </div>
      </div>
      <div class="small-cards cont">
        <div class="elements-card" (click)="navigate('Kitchen')" style="cursor: pointer">
          <div class="image-placeholder">
            <img class="paste-image" src="assets/kitchen.jpg" />
          </div>
          <div class="content">
            <div class="title">
                <div class="product-name">Kitchen</div>
            </div>
            <div class="button">
                <div class="content2">
                    <div class="get-started">Shop Now</div>
                </div>
                <img src="/assets/arrow-right.svg" alt="Arrow Right" stroke="white"/>
            </div>
        </div>
        </div>
        <div class="elements-card" (click)="navigate('Bathroom')" style="cursor: pointer">
          <div class="image-placeholder">
            <img class="paste-image" src="assets/bathroom.jpg" />
          </div>
          <div class="content">
            <div class="title">
                <div class="product-name">Bathroom</div>
            </div>
            <div class="button">
                <div class="content2">
                    <div class="get-started">Shop Now</div>
                </div>
                <img src="/assets/arrow-right.svg" alt="Arrow Right" stroke="white"/>
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="values">
      <app-services imagePath="assets/fast delivery.svg" value="Free Shipping" description="Order above 500Dt"></app-services>
      <app-services imagePath="assets/money.svg" value="Money-back" description="30 days guarantee"></app-services>
      <app-services imagePath="assets/lock 01.svg" value="Secure Payments" description="Secured by Stripe"></app-services>
      <app-services imagePath="assets/call.svg" value="24/7 Support" description="Phone and Email support"></app-services>
    </div>
  </div>
  
  
  
  